/* styles.css */
 *{
    padding:0px;
    margin: 0px;
    background-color: black;
    color:white;
    box-sizing:border-box;
}

 body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:1200px;

}

h1{
    text-align:center;
    font-size:48px;
    border-bottom: 2px solid white;
    padding:8px;
    border-radius: 258px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

.navheader{
    position:fixed;
    flex:1;
    flex:display;
    width:100%;
    border-bottom: 2px solid white;
   
   
}
a{
    text-decoration:none;
}
a:linked,
a:visited{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
 
}
ul{
    display:flex;
    text-decoration:none;
    list-style-type: none;
    gap: 24px;
    font-size:24px;
    justify-content:center;
    position:center;
    padding:0px;
  
}
li{
    text-decoration:none;
    border:4px;
    
}
.landing{
    display:flex;
    justify-content: center;
    gap:48px;
    padding-left:48px;
    padding-right:48px;
    /* flex-shrink:0; */
    flex-wrap:wrap;

}
.card{
    width:240px;
    /* max-width:100%; */
    height:332px;
    border: 2px solid white;
    flex-grow:1;
    flex-shrink:1;
    flex-wrap:wrap;
    border-radius: 64px;
   
}
.menu{
    display:flex;
    justify-content:center;
    /* flex-grow:1; */
    flex-shrink:2;
    /* flex-wrap:wrap; */

}
.headtext{
    font-size:116px;
    font-family:'Times New Roman', Times, serif;
    padding:4px;
    padding-left:32px;
   word-wrap:normal;
}

.card img{
    object-fit:cover;
    height:100%;
    width:100%;
    border-radius:64px;
}