/* styles.css */
 *{
    padding:0px;
    margin: 0px;
    background-color: black;
    color:white;
    box-sizing:border-box;
}

 body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height:1200px;

    
}

h1{
    text-align:center;
    font-size:48px;
    border-bottom: 2px solid white;
    padding:8px;
    border-radius: 258px;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    
}

.navheader{
    position:fixed;
    flex:1;
    flex:display;
    width:100%;
    border-bottom: 2px solid white;
   
   
}
a{
    text-decoration:none;
}
a:linked,
a:visited{
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
 
}
ul{
    display:flex;
    text-decoration:none;
    list-style-type: none;
    gap: 24px;
    font-size:24px;
    justify-content:center;
    position:center;
    padding:0px;
  
}
li{
    text-decoration:none;
    border:4px;
    
}
.landingpageimages{
    display:flex;
    justify-content: center;
    gap:48px;
    padding-left:48px;
    padding-right:48px;
    /* flex-shrink:0; */
    flex-wrap:wrap;

}
.card{
    width:240px;
    /* max-width:100%; */
    height:332px;
    border: 2px solid white;
    flex-grow:1;
    flex-shrink:1;
    flex-wrap:wrap;
    border-radius: 64px;
   
}
.menu{
    display:flex;
    justify-content:center;
    /* flex-grow:1; */
    flex-shrink:2;
    /* flex-wrap:wrap; */

}
.headtext{
    display:flex;
    justify-content: center;
    font-size:116px;
    font-family:'Times New Roman', Times, serif;
    padding:32px;
    /* padding-left:64px; */
   /* word-wrap:normal; */
   background:conic-gradient(from 90deg at 1px 1px,transparent, #0000 90deg, rgb(125, 125, 209) 0)
        0 0/50px 50px;
       
}


.card img{
    object-fit:cover;
    height:100%;
    width:100%;
    border-radius:64px;
}
.bodytext{
    display:flex;
    padding-left:32px;
    justify-items:center;
    /* align-items:center; */
    gap:2.3%;
    flex-wrap:wrap;

}
    .text{
    padding-bottom:64px;
    flex-basis:31%;
    flex-wrap:wrap;
}

.circle{
    height:10px;
    width:10px;
    background-color:rgb(119, 174, 182);
    border-radius:50%;
    display:inline-block;
    margin-right:8px;
    margin-bottom:0px;
}
.headerbackground{
    background:conic-gradient(from 90deg at 1px 1px, #0000 90deg, rgb(125, 125, 209) 0)
        0 0/50px 50px;
    
}
#contactphone{
    display:flex;
    justify-content:flex-end;
    padding:4px;
}

.footer{
    display:flex;
    justify-content:center;
}






